#Instruction

1. Download yfinance library
2. Just run all the code blocks

In [23]:
import yfinance as yf

[*********************100%***********************]  2 of 2 completed

In [35]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "FB",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5y",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "3mo",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [53]:
datas = yf.download("FB", start="2017-01-01", end="2020-04-30")
datas.to_csv('./Dataset/Facebook.csv', index=False)

[*********************100%***********************]  1 of 1 completed

In [37]:
datas

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,116.029999,117.839996,115.510002,116.860001,116.860001,20663900
2017-01-04,117.550003,119.660004,117.290001,118.690002,118.690002,19630900
2017-01-05,118.860001,120.949997,118.320000,120.669998,120.669998,19492200
2017-01-06,120.980003,123.879997,120.029999,123.410004,123.410004,28545300
2017-01-09,123.550003,125.430000,123.040001,124.900002,124.900002,22880400
...,...,...,...,...,...,...
2020-04-23,184.080002,187.050003,183.149994,185.130005,185.130005,21426600
2020-04-24,183.229996,190.410004,180.830002,190.070007,190.070007,28792000
2020-04-27,192.660004,193.750000,187.410004,187.500000,187.500000,29197800
2020-04-28,188.660004,189.199997,182.559998,182.910004,182.910004,21731000
2020-04-29,190.929993,196.910004,190.000000,194.190002,194.190002,45954500

In [38]:
data.isnull().sum()

Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [54]:
datass = yf.download("SPY", start="2017-01-01", end="2020-04-30")
datass.to_csv('./Dataset/SPY.csv', index=False)

[*********************100%***********************]  1 of 1 completed

In [51]:
datass

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,208.895447,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,210.138245,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,209.971268,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,210.722473,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,210.026917,46939700
...,...,...,...,...,...,...
2020-04-23,280.489990,283.940002,278.750000,279.079987,275.574738,104709700
2020-04-24,280.730011,283.700012,278.500000,282.970001,279.415924,85166000
2020-04-27,285.119995,288.269989,284.619995,287.049988,283.444672,77896600
2020-04-28,291.019989,291.399994,285.399994,285.730011,282.141235,105270000
2020-04-29,291.529999,294.880005,290.410004,293.209991,289.527283,118745600

In [52]:
datass.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [55]:
datassa = yf.download("AAPL", start="2017-01-01", end="2020-04-30")
datassa.to_csv('./Dataset/AAPL.csv', index=False)

[*********************100%***********************]  1 of 1 completed

In [49]:
datassa

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.500973  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.470192   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.609884   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.917688  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  28.173399  134247600
...               ...        ...        ...        ...        ...        ...
2020-04-23  68.967499  70.437500  68.717499  68.757500  68.330582  124814400
2020-04-24  69.300003  70.752502  69.250000  70.742500  70.303253  126508800
2020-04-27  70.449997  71.135002  69.987503  70.792503  70.352943  117087600
2020-04-28  71.269997  71.457497  69.550003  69.644997  69.212555  112004800
2020-04-29  71.182503  72.417503  70.972504  71.932503  71.485863  137280800

[836 rows x 6 columns]